<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="./../common/js/jQuery-1.11.3.js"></script>
    <script type="text/javascript">
        function exchange() {
            $.ajax({

            });
        }
    </script>
</head>
<body>
    <div>
        <div class="rgbToHex">
            R: <input type="text" id="colorRGB_R"/>
            G: <input type="text" id="colorRGB_G"/>
            B: <input type="text" id="colorRGB_B"/>
            <a href="javascript:void(0)" onclick="exchange()">点击转换</a>
        </div>
    </div>
</body>
</html>